@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


body {
    background-color:  black;
    font-family: 'Poppins', sans-serif;
    margin: 0;    
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;    
}



/*
Mi web tiene secciones en 3 páginas (Home, Store y Download) que usan imágenes como fondo, pero no se como programarlas para que se ajusten automaticamente a la resolución de la pantalla, así que las dejé sin editar
*/


/*
SECCION HEADER Y MENU NAV
*/

h1 {
    display: none;
}

.bg-hollow-nav{
    background-color: #18181c;
}

.navbar-container{    
    padding: 1.5rem 3rem;        
}

.logo{
    height: 55px;
}


.nav-link{    
    color: #aaaaae;
    font-size: 1.3rem;
    font-weight: 500;     
}

.nav-link-active{
    background-color: #404044;
    color: white;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 0.5em;        
}

.nav-link:hover{    
    background-color: #404044;
    color: white;
    padding: 1rem;    
    border-radius: 0.5em;    
}

.navbar-toggler {
    border-color: transparent;
}

/*
Yo quería que las 3 lineas del menú hamburguesa sean de color blanco y fondo transparante, 
pero no supe como hacerlo.
*/

.navbar-toggler-icon {
    background-color: white;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 1rem;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


/*
SECCION BOTONES DE DESCARGA
*/

.download-text{
    color: black;
    font-weight: 900;
    font-size: 2rem; 
}

.download-banner{    
    height: 80px;    
    background-color: #ebe9b9;           
}

.download-buttons img{    
    height: 50px;        
}

/*
SECCION FOOTER
*/

footer{
    padding: 2rem 1.5rem 0;            
}

.social-media-icons {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;    
    padding-bottom: 1.5rem;
    gap: 4rem;        
}

.menu-footer{          
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;    
    justify-content: center;
    padding-top: 1rem;    
    padding-bottom: 1.5rem;
    gap: 3rem;
}

.copyright p{
    font-size: 1rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}


i {
    font-size: 3rem;
    color: white;
}

/*
PAGINA HOME
*/

.main-text h2{
    font-weight: 900;
}

.main-text p{
    font-weight: 300;
    font-size: 1.5rem;
}

.main-text-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: aliceblue;
}


/*
PAGINA EXPANSIONS
*/

.expansions h2{
    font-size: 3rem;
    text-align: center;
    padding: 10rem 0 5rem;
    margin: 0;
}


.row{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.cover img{
    height: 50rem;
}

.expansion-content h3{
    font-weight: 600;
    padding: 1.5rem 0;
}

.expansion-content p{
    font-weight: 300;
    margin: 0;    
}

.youtube{
    padding: 2rem 0;
}

/*
PAGINA STORE, SECCION PRODUCTOS
*/


.banner img{    
    width: 100%;
    height: auto;    
}

.products-bar{
    height: 50px;
    background-color: #44496a;
    
}

.card{
    background-color: transparent;
    border: none;
}

.card-title{
    color: #484848;
    font-size: 1.5rem;
}

.card-text{
color: #5e7318;
font-size: 1.5rem;
}

.products-container{
    background-color: white;        
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin: 0;    
}

.filters{
    padding-left: 1rem;
}

.list-group-item {
    border-color: transparent;    
}

.list-group h2{
    color: #484848;
    font-size: 1.8rem;    
}

.form-check-label{
    font-size: 1.3rem;
    font-weight: 300;
}


/*
PAGINA ABOUT
*/

.about-text h2{
    font-size: 6rem;
    font-weight: 800;
}

.about-text p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #a8a8a8;
}

.about-section img{
    height: 650px;
}

