@mixin button-shape($padding, $border){
    padding: $padding;
    border-radius: $border;
}

@mixin button-style($bgcolor, $bordercolor){
    background-color: $bgcolor;
    border-color: $bordercolor;
}

@mixin button-font-style($color, $size, $weight){
    color:$color;
    font-size: $size;
    font-weight: $weight;
}

@mixin text-font-style($size, $weight){    
    font-size: $size;
    font-weight: $weight;
}

@mixin background-img($img,$imgsize,$position,$height) {
    background-image: $img;
    background-size: $imgsize;
    background-position: $position;
    height: $height;      
}

@mixin flex($justify,$align,$gap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}