.download {
    @include background-img(url('../img/poster2.jpg'),cover,center,100vh);   

    &-content {
        @include flex(center,center,null);        
        flex-direction: column;                
        padding: 0 2rem;
        border-radius: 1rem;
        height: 100%;
        text-align: center;
    }
    
    &-text h2{
        font-size: $font-huge;
    }
    
    &-text {
        margin-bottom: 2rem;
    }
}


.btn-group-download {
    display: flex;
    gap: 2rem;    
    
    & i {
        font-size: $font-huge;
    }
}

